* {
    font-family: 'Ubuntu';
    font-size: 25px;
    color: #fff;

}

body {
    display: flex;
	flex-direction: column;

    align-items: center;

    margin: 0;

    background-image: linear-gradient(#1c1e3d, #0d0e1d);
}

a {

    text-decoration: none;
}

#contactButton {
    background-color: #31335C;
    border: none;
    color: #fff;
    padding: 9px 5px;
    text-align: center;

    width: 200px;

    font-size: 16px;
    cursor: pointer;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

#contactButton:hover {
    background-color: #747ADB;
}

#qaContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;;

    width: 70vw;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

#qContainer {
    display: flex;
    align-items: center;
    padding: 0 10px;

    height: 60px;

    border-left: solid 6px #0d0e1d;
    background-color: rgba(0, 0, 0, 0.2);
}

#aContainer {
    display: flex;
    align-items: center;
    padding: 0 10px;

    height: 60px;

    border-left: solid 6px #1c1e3d;
}

#goBack {
    color:#fac472;

    cursor: pointer;
}

#goBack:hover{
    color: #ffdcb3;
}

#goBackA {
    position: absolute;
    top: 15px;
    left: 15px;
}
