* {
    font-family: 'Ubuntu';
    font-size: 25px;
    color: #fff;
}

span {
    margin: 20px;
}

body {
    display: flex;
    flex: 1;
	flex-direction: column;
    height: 100vh;

    margin: 0;

    background-image: linear-gradient(#202578, #1c1e3d);
}

a {
    text-decoration: none;
}

#centerContainer {
    display: flex;
    flex: 1;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: 45px;
}

#text {
    text-align: center;
}

#text2 {
    font-size: 20px;

}

#logintext {
    font-weight: bold;
    color: #747ADB;

    margin-top: 0;

    cursor: pointer;
}

#logintext:hover {
    color: #fff;
}

#loginButton {
    background-color: #31335C; /* Green */
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;


    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#loginButton:hover {
    background-color: #747ADB;
}


